* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', arial, sans-serif;

}

#gradbg{
    width: 100%;
    color: #fff;
    background: linear-gradient(.45deg, black, #2a1b3d, #44318d, #d83f87);
    background-size: 300%,;
    position: relative;
    animation: change 5s ease-in-out infinite alternate;
}


body{
    font-family: 'Roboto', arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

#contactimg {
    height: 50px;
    
}

.header {
    padding: 50px;
    text-align: center;
    background-color:black;
    color: purple;
    line-height: normal;    
    border-style: double;
    border-color: #d83f87;
}

.header h1 {
    font-size: 40px;
    color: #a4b3b6;
}

.header p {
    font-size: 15px;
}

h3 {
    color: #d83f87;
    text-align: center;

}
.nbar {
    overflow: hidden;
    background-color: black;
    border-style: double;
    border-color: #d83f87;
    position: sticky;
    top:0;
}

.nbar a {
    float:left;
    display: block;
    color:#a4b3b6;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
}

.nbar a.right {
    float: right;
}

.nbar a:hover {
    background-color: #d83f87;
    color: #a4b3b6;
    font-weight: bold;
}

.nbar a.active {
    background-color: #d83f87;
    color: #a4b3b6;
    font-weight: bold;
}

div h2{
    border-color: #d83f87;
    text-align: center;
    color: #a4b3b6;
    font-size: 20px;
    text-decoration: underline;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

p {
    color: #d83f87;
    font-weight: bold;
    text-decoration: none;
}

li{
    color: #d83f87;
    
}

.side {
    flex:30%;
    background-color: lightgray;
    padding: 20px;
    padding-top: 20px;
    border-style: double;
    border-radius: 10%;
    border-color: #d83f87;
    background-color: #2a1b3d;
}

.main {
    flex: 70%;
    background-color: black;
    padding: 20px;

}

#maingrid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    border-style: double;
    border-color: #d83f87;
    border-radius: 10%;
    background-color: #2a1b3d;
    
}
#sidegrid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    justify-content: left;
    align-items:center;
    margin-top: 10px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

.myamimg {
    object-fit: cover;
    width: 100%;
    padding: 20px;
    object-position: center;

}

.myabimg {
height: 250px;

}

#imgborder{
    border-style: double;
    border-color: #d83f87;
    border-radius: 10%;

}

div ul li { 
list-style-type:circle;
font-weight: bold;
}

.hovertext {
    position: relative;

}
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: #d83f87;
    color: #a4b3b6;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

.footer {
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-style: double;
    border-color: #d83f87;
    }
#footerimg{
    height: 25px;
    padding-left: 50px;
}
footer h2{
    border-style: none;
}

#projimg {
  height: 200px;
}

#projgh{
    height: 150px;
    padding-left: 20px;
}

@media screen and (max-width: 1085px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px){
.navbar a {
    float: none;
    width: 100%
}
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}